<div class="row">
    <h1 class="titulo">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <img class="zipoli-logo" src="../../../assets/escudo-zipoli.png" alt="zipoli-logo">
            <li>
                <h1>Colegio Domingo Zipoli</h1> - <h3>2007-2011</h3>
            </li>
            <p>
                Realicé la mayoría de mi educación primaria en la Escuela de Niños Cantores de Córdona Domingo Zipoli.
            </p>
        </ul>
        <ul>
            <img src="../../../assets/logo-monserrat.png" alt="logo-monserrat">
            <li>
                <h1>Colegio Nacional de Monserrat</h1> - <h3>2013-2017</h3>
            </li>
            <p>
                Realicé la mayor parte de mis estudios secundarios en el Colegio Nacional de Monserrat.
            </p>
        </ul>
        <ul>
            <img class="upc-logo" src="../../../assets/siglas_UPC.jpg" alt="upc-logo">
            <li>
                <h1>Licenciatura en composición coreografica</h1> - <h3>(2023-actualidad)</h3>
            </li>
            <p>
                Actualmente me encuentro cursando la carrera licenciatura en composición coreográfica de la Universidad Provincial de Córdoba.
            </p>
        </ul>
    </div>
</div>

