<div class="row" id="education">
    <h1 class="titulo">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <img class="zipoli-logo" src="../../../assets/escudo-zipoli.png" alt="zipoli-logo">
            <li>
                <a href="http://www.domingozipoli.edu.ar/" target="_blank"><h1>Colegio Domingo Zipoli</h1></a> - <h3>2007-2011</h3>
            </li>
            <p>
                Realicé la mayoría de mi educación primaria en la Escuela de Niños Cantores de Córdoba Domingo Zipoli.
            </p>
        </ul>
        <ul>
            <img src="../../../assets/logo-monserrat.png" alt="logo-monserrat">
            <li>
                <a href="https://monserrat.unc.edu.ar/" target="_blank"><h1>Colegio Nacional de Monserrat</h1></a> - <h3>2013-2017</h3>
            </li>
            <p>
                Realicé la mayor parte de mis estudios secundarios en el Colegio Nacional de Monserrat.
            </p>
        </ul>
        <ul>
            <img class="upc-logo" src="../../../assets/siglas_UPC.jpg" alt="upc-logo">
            <li>
                <a href="https://upc.edu.ar/fad/lic-composicion-coreografica/" target="_blank"><h1>Licenciatura en composición coreografica</h1></a> - <h3>(2023-actualidad)</h3>
            </li>
            <p>
                Actualmente me encuentro cursando la carrera licenciatura en composición coreográfica de la Universidad Provincial de Córdoba.
            </p>
        </ul>
        <ul>
            <img class="arg-logo" src="../../../assets/logo-arg-negro.jpg" alt="arg-logo">
            <li>
                <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank"><h1>Argentina Programa</h1></a> - <h3>(2022-actualidad)</h3>
                <h2>Full Stack Developer Jr</h2>
            </li>
            <p>
                Argentina Programa es un curso avalado por el Ministerio de Desarrollo Productivo, la Cámara de la Industria Argentina del Software (CESSI) y el Instituto Nacional de Tecnología Industrial (INTI) que consta de dos partes, la primera #SeProgramar donde se adquieren los fundamentos básicos de la programación y #YoProgramo donde se profundizan los conocimientos y se adquieren las habilidades y herramientas necesarias para convertirse en programadores web full-stack junior.</p>   
        </ul>
    </div>
</div>

