<h1 class="titulo">Educación</h1>
<div class="row" id="educacion" *ngFor="let education of educations">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <img class="zipoli-logo" src={{education.imagenEdu}} alt="zipoli-logo">
            <li>
                <a href={{education.tituloURL}} target="_blank"><h1 class="tituloEdu">{{education.tituloEdu}}</h1></a> - <h3 class="tituloEdu">{{education.fechaEdu}}-{{education.fechaFin}}</h3>
                <a class="btn btn-primary tooltips"
                    data-placement="top"
                    data-toggle="tooltip"
                    data-original-title="Edit">
                    <i class="fa fa-pencil"></i>

                </a>
                <a class="btn btn-secondary tooltips"
                data-placement="top"
                data-toggle="tooltip"
                data-original-title="Delete">
                <i class="fa fa-times"></i>

            </a>
            </li>
            <p>
                {{education.descEdu}}
            </p>
        </ul>
    </div>
</div>
