.row{
    padding: 20px;
}
div{
    background: white;
}

h1, h3{
    display: inline;
}

.zipoli-logo{
    width: 100px;
    margin-left: 20px;
}

.upc-logo{
    width: 180px;
    margin-left: -20px;
}

.titulo{
    text-align: center;
}

