.row{
    padding: 20px;
}
div{
    background: white;
}

h1, h3{
    display: inline;
}

h1{
    text-align: center;
    margin-top: 100px;
}

img{
    margin-left: 40px;
    width: 300px;
    height: 100px;
}

    a:link { text-decoration: none;
    color:#508AD3;}
    
    a:visited { text-decoration: none;
        color:#508AD3; }
    
    a:hover { text-decoration: none;
        color: rgb(0, 110, 255);}
    
    a:active { text-decoration: none; }

