<div class="row" id="experiencia">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <img src="../../../assets/femucor-logo.png" alt="">
        <ul>
            <li>
                <a href="https://www.femucor.org/" target="_blank"><h1>FEMUCOR</h1></a> - <h3>2017</h3>
            </li>
            <p>
                En 2017 trabajé como cadete en FEMUCOR a través del Programa Primer Paso (PPP).
            </p>
            <p>
                Mis actividades consistian principalmente en transportar dinero y documentos entre mutuales y cooperativas.
            </p>
        </ul>
    </div>
</div>
