<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quaerat facilis eligendi, culpa hic veritatis quas molestias repellendus corrupti quasi reprehenderit omnis quos odit et voluptatum labore distinctio vero fuga.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quaerat facilis eligendi, culpa hic veritatis quas molestias repellendus corrupti quasi reprehenderit omnis quos odit et voluptatum labore distinctio vero fuga.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quaerat facilis eligendi, culpa hic veritatis quas molestias repellendus corrupti quasi reprehenderit omnis quos odit et voluptatum labore distinctio vero fuga.
            </p>
        </ul>
    </div>
</div>
