<div>
    <a href="https://www.linkedin.com/in/nazareno-acosta-b7490a24a/"><img src="../../../assets/linkedin.png" alt="linkedin-logo"></a>    
    <a href="https://www.instagram.com/nazaacosta69/"><img src="../../../assets/instagram.png" alt="instagram-logo"></a>
    <a href="https://github.com/Shizetsu"><img src="../../../assets/github.png" alt="github-logo"></a>
    <a href="https://www.facebook.com/profile.php?id=100077505476463"><img src="../../../assets/facebook.png" alt="facebook-logo"></a>
</div>
