<body id="habilidades">   
    <div class="container">                       
        <div class="card">            
            <div class="percent" style="--clr:#04c2fc;--num:70px; --num2:70;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>70<span>%</span></h2>
                    <p>HTML</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:75px; --num2:75;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>75<span>%</span></h2>
                    <p>CSS</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:60px; --num2:60;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>60<span>%</span></h2>
                    <p>JavaScript</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:60px; --num2:60;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>60<span>%</span></h2>
                    <p>Typescript</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:78px; --num2:78;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>78<span>%</span></h2>
                    <p>Bootstrap</p>
                </div>
            </div>            
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:65px; --num2:65;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>65<span>%</span></h2>
                    <p>Angular</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:55px; --num2:55;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>55<span>%</span></h2>
                    <p>Java</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:50px; --num2:50;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>50<span>%</span></h2>
                    <p>Springboot</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:52px; --num2:52;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>52<span>%</span></h2>
                    <p>MySQL</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:100px; --num2:100;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>100<span>%</span></h2>
                    <p>Inglés</p>
                </div>
            </div>
        </div>                
    </div>    
</body>

