<body>
    <div class="container">        
        <div class="card">            
            <div class="percent" style="--clr:#04c2fc;--num:70px; --num2:70;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>70<span>%</span></h2>
                    <p>HTML</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:75px; --num2:75;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>75<span>%</span></h2>
                    <p>CSS</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:60px; --num2:60;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>60<span>%</span></h2>
                    <p>JavaScript</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:40px; --num2:40;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>40<span>%</span></h2>
                    <p>Python</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:100px; --num2:100;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>100<span>%</span></h2>
                    <p>Inglés</p>
                </div>
            </div>
        </div>
        <h1>Hard & Soft Skills</h1>
    </div>
</body>

