 <section class="container-fluid about-section" id="acerca-de" *ngIf="user">
    <div class="row">
        <div class="col-md">
            <img src="../../../assets/foto-de-perfil.jpg" class="img-fluid perfil" alt="foto de perfil">
        </div>
        <div class="tarjeta col-md" >
            <h2 class="titulo" >About me</h2>
            <h3>Hello! I'm {{user.nombre}} {{user.apellido}} <br><br> <span class="presentacion">{{user.titulo}}</span></h3>
            <p class="card-text" id="text-acercade">{{user.descripcion}}</p>
        </div>
    </div>
</section>
