 <section class="container-fluid about-section" id="acerca-de">
    <div class="row">
        <div class="col-md">
            <img src="../../../assets/foto-de-perfil.jpg" class="img-fluid perfil" alt="foto de perfil">
        </div>
        <div class="tarjeta col-md" >
            <h2 class="titulo" >About me</h2>
            <h3>Hello! I'm Nazareno Acosta <br><br> <span class="presentacion">Full Stack Developer Jr.</span></h3>
            <p class="card-text" id="text-acercade">Developer working constantly on self improvment, programming student and lover of design.</p>
        </div>
    </div>
</section>
