<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-de-perfil.jpg" class="img-fluid" id="foto-de-perfil" alt="foto-de-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Nazareno Acosta</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde eum commodi aliquid expedita repudiandae at quia labore deleniti, dolores facere? Dignissimos at dolorem sapiente eos, dolore eius fugit quibusdam vero.</p>
        </span>
    </div>
</div>
