<nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">
            <img src="../../../assets/APLogo.png"  alt="" width="110" height="60" class="d-inline-block align-text-top">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link link-light" href="#acerca-de">Sobre mi</a>
                </li>
                <li class="nav-item link-dark">
                    <a class="nav-link link-light" href="#experiencia">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#educacion">Educación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#proyectos">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#habilidades">Tecnologías y habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="./english">English</a>
                </li>

            </ul>

            <a href="https://www.linkedin.com/in/nazareno-acosta-b7490a24a/"><img class="linkedin-logo" src="../../../assets/linkedin.png" alt="linkedin-logo"></a>
            <a href="https://github.com/Shizetsu"><img class="github-logo" src="../../../assets/github.png" alt="github-logo"></a>
            <a href="https://www.instagram.com/nazaacosta69/"><img class="instagram-logo" src="../../../assets/instagram.png" alt="instagram-logo"></a>
            <button type="button" class="btn-login">Ingreso</button>
        </div>
    </div>
</nav>
