<!--Nav bar-->

<nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">
            <img class="logo-english" src="../../../assets/APLogo.png"  alt="" width="110" height="60" class="d-inline-block align-text-top">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link link-light" href="#about">About me</a>
                </li>
                <li class="nav-item link-dark">
                    <a class="nav-link link-light" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#projects">Proyects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#skills">Hard & Soft Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="">Spanish</a>
                </li>

            </ul>

            <a href="https://www.linkedin.com/in/nazareno-acosta-b7490a24a/"><img class="linkedin-logo" src="../../../assets/linkedin.png" alt="linkedin-logo"></a>
            <a href="https://github.com/Shizetsu"><img class="github-logo" src="../../../assets/github.png" alt="github-logo"></a>
            <a href="https://www.instagram.com/nazaacosta69/"><img class="instagram-logo" src="../../../assets/instagram.png" alt="instagram-logo"></a>
            <button type="button" class="btn-login">Login</button>
        </div>
    </div>
</nav>

<!--Banner-->

<div class="bg home col-sm-12 col-md12 col-lg-12"></div>
<div class="container-fluid">
    <h1 class="typewriter">Welcome to my Portfolio!</h1>
</div>

<!--About me-->

<section class="container-fluid about-section" id="about">
    <div class="row">
        <div class="col-md">
            <img src="../../../assets/foto-de-perfil.jpg" class="img-fluid perfil" alt="foto de perfil">
        </div>
        <div class="tarjeta col-md" >
            <h2 class="titulo-about" >About me</h2>
            <h3>Hello! I'm Nazareno Acosta <br><br> <span class="presentacion">Full Stack Developer Jr.</span></h3>
            <p class="card-text" id="text-acercade">Developer working constantly on self improvment, programming student and lover of design.</p>
        </div>
    </div>
</section>

<!--Experience-->

<div class="row-exp" id="experience">
    <h4>Experiencia laboral</h4>
    <div class="col-lg-1 div-1"></div>
    <div class="col-lg-11 div-2">
        <img class="img-femucor" src="../../../assets/femucor-logo.png" alt="">
        <ul class="lista">
            <li>
                <a href="https://www.femucor.org/" target="_blank"><p class="inline">FEMUCOR</p></a> - <p class="inline">2017</p>
            </li>
            <p>
                En 2017 trabajé como cadete en FEMUCOR a través del Programa Primer Paso (PPP).
            </p>
            <p>
                Mis actividades consistian principalmente en transportar dinero y documentos entre mutuales y cooperativas.
            </p>
        </ul>
    </div>
</div>

<!--Education-->

<div class="row" id="education">
    <h5 class="titulo">Educación</h5>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <img class="zipoli-logo" src="../../../assets/escudo-zipoli.png" alt="zipoli-logo">
            <li>
                <a href="http://www.domingozipoli.edu.ar/" target="_blank"><p class="inline">Colegio Domingo Zipoli</p></a> - <p class="inline">2007-2011</p>
            </li>
            <p>
                Realicé la mayoría de mi educación primaria en la Escuela de Niños Cantores de Córdoba Domingo Zipoli.
            </p>
        </ul>
        <ul>
            <img src="../../../assets/logo-monserrat.png" alt="logo-monserrat">
            <li>
                <a href="https://monserrat.unc.edu.ar/" target="_blank"><p class="inline">Colegio Nacional de Monserrat</p></a> - <p class="inline">2013-2017</p>
            </li>
            <p>
                Realicé la mayor parte de mis estudios secundarios en el Colegio Nacional de Monserrat.
            </p>
        </ul>
        <ul>
            <img class="upc-logo" src="../../../assets/siglas_UPC.jpg" alt="upc-logo">
            <li>
                <a href="https://upc.edu.ar/fad/lic-composicion-coreografica/" target="_blank"><p class="inline">Licenciatura en composición coreografica</p></a> - <p class="inline">(2023-actualidad)</p>
            </li>
            <p>
                Actualmente me encuentro cursando la carrera licenciatura en composición coreográfica de la Universidad Provincial de Córdoba.
            </p>
        </ul>
        <ul>
            <img class="arg-logo" src="../../../assets/logo-arg-negro.jpg" alt="arg-logo">
            <li>
                <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank"><p class="inline">Argentina Programa</p></a> - <p class="inline">(2022-actualidad)</p>
                <p>Full Stack Developer Jr</p>
            </li>
            <p>
                Argentina Programa es un curso avalado por el Ministerio de Desarrollo Productivo, la Cámara de la Industria Argentina del Software (CESSI) y el Instituto Nacional de Tecnología Industrial (INTI) que consta de dos partes, la primera #SeProgramar donde se adquieren los fundamentos básicos de la programación y #YoProgramo donde se profundizan los conocimientos y se adquieren las habilidades y herramientas necesarias para convertirse en programadores web full-stack junior.</p>   
        </ul>
    </div>
</div>


<!--Skills-->

<body id="habilidades">   
    <div class="container">                       
        <div class="card">            
            <div class="percent" style="--clr:#04c2fc;--num:70px; --num2:70;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>70<span>%</span></h2>
                    <p>HTML</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:75px; --num2:75;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>75<span>%</span></h2>
                    <p>CSS</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:60px; --num2:60;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>60<span>%</span></h2>
                    <p>JavaScript</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:60px; --num2:60;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>60<span>%</span></h2>
                    <p>Typescript</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:78px; --num2:78;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>78<span>%</span></h2>
                    <p>Bootstrap</p>
                </div>
            </div>            
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:65px; --num2:65;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>65<span>%</span></h2>
                    <p>Angular</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:55px; --num2:55;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>55<span>%</span></h2>
                    <p>Java</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:50px; --num2:50;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>50<span>%</span></h2>
                    <p>Springboot</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:52px; --num2:52;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>52<span>%</span></h2>
                    <p>MySQL</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04c2fc;--num:100px; --num2:100;">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h2>100<span>%</span></h2>
                    <p>Inglés</p>
                </div>
            </div>
        </div>                
    </div>    
</body>


<!--Projects-->


<div class="row" id="proyectos" >
    <p class="proyectos-p">Proyectos realizados</p>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <img class="under-construction" src="../../../assets/under-construction.png" alt="">
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img class="img-fluid img-proyecto" src="../../../assets/Tomoko-PC.jpg" alt="">
        </div>
    </div>
</div>




