<!--Nav bar-->

<nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">
            <img class="logo-english" src="../../../assets/APLogo.png"  alt="" width="110" height="60" class="d-inline-block align-text-top">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link link-light" href="#about">About me</a>
                </li>
                <li class="nav-item link-dark">
                    <a class="nav-link link-light" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#projects">Proyects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#skills">Hard & Soft Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="">Spanish</a>
                </li>

            </ul>

            <a href="https://www.linkedin.com/in/nazareno-acosta-b7490a24a/"><img class="linkedin-logo" src="../../../assets/linkedin.png" alt="linkedin-logo"></a>
            <a href="https://github.com/Shizetsu"><img class="github-logo" src="../../../assets/github.png" alt="github-logo"></a>
            <a href="https://www.instagram.com/nazaacosta69/"><img class="instagram-logo" src="../../../assets/instagram.png" alt="instagram-logo"></a>
            <button type="button" class="btn-login">Login</button>
        </div>
    </div>
</nav>

<!--Banner-->

<div class="bg home col-sm-12 col-md12 col-lg-12"></div>
<div class="container-fluid">
    <h1 class="typewriter">Welcome to my Portfolio!</h1>
</div>

<!--About me-->

<section class="container-fluid about-section" id="about">
    <div class="row">
        <div class="col-md">
            <img src="../../../assets/foto-de-perfil.jpg" class="img-fluid perfil" alt="foto de perfil">
        </div>
        <div class="tarjeta col-md" >
            <h2 class="titulo" >About me</h2>
            <h3>Hello! I'm Nazareno Acosta <br><br> <span class="presentacion">Full Stack Developer Jr.</span></h3>
            <p class="card-text" id="text-acercade">Developer working constantly on self improvment, programming student and lover of design.</p>
        </div>
    </div>
</section>

